---
---

<section id="galeria">
    <div class="container">
        <h2>Galería</h2>
        <div class="gallery-container">
            <img src="/galeria1.jpg" alt="Galería 1">
            <img src="/galeria2.jpg" alt="Galería 2">
            <img src="/galeria3.jpg" alt="Galería 3">
        </div>
    </div>
</section>