---
---

<section id="conectado">
    <div class="container">
        <h2>Mantente Conectado</h2>
        <p>📧 contacto@tusitio.com</p>
        <div class="social-links">
            <a href="https://facebook.com">Facebook</a>
            <a href="https://instagram.com">Instagram</a>
            <a href="https://youtube.com">YouTube</a>
        </div>
    </div>
</section>