---
---

<section id="quienes-somos">
    <div class="container">
        <img src="/quienes-somos.jpg" alt="Quiénes Somos">
        <h2>¿Quiénes Somos?</h2>
        <p>Somos una comunidad comprometida en conectar personas a través de eventos, recursos y acompañamiento constante...</p>
    </div>
</section>